{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}

<table class="table">
    <tr>
        <td>Username</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
</table>

<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/users/change_password">
            <label>Zmień hasło</label>
            <div class="form-group">
                <input type="password" class="form-control" name="password_old" placeholder="Stare hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Nowe hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Powtorz hasło">
            </div>
            <button type="submit" class="btn btn-info">Zmień hasło</button>
        </form>
    </div>

    <div class="col-md-6">
        <form method="POST" action="/users/change_email">
            <label>Zmień email</label>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Nowy email">
            </div>
            <button type="submit" class="btn btn-info">Zmień email</button>
        </form>
    </div>
</div>

{{#ifeq user.role "unconfirmed"}}
<div class="row">
    <form method="POST" action="/users/confirm">
        <label>W celu weryfikacji podaj PESEL</label>
        <div class="form-group">
            <input type="text" class="form-control" name="pesel" placeholder="PESEL">
        </div>
        <button type="submit" class="btn btn-info">Zweryfikuj</button>
    </form>
</div>
{{else}}
<div class="row">
    <p class="btn btn-success">Jesteś zweryfikowany. Możesz wystawiac aukcje</p>
</div>
{{/ifeq}}
